/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
}
